ul{
    display: flex;
    text-align: center;
    list-style: none;
}
ul li{
    
}
.nav{
    text-align: center;
}
.nav-link{
    color: white;
    /* border: solid 5px; */
}
.dropdown:hover .dropdown-content{
    display: block;
  }
  .dropdown:not(:hover) .dropdown-content{
    display: none;
  }